h1 {
    color: rgba(255, 0, 0, 0.6);
}

h2 {
    color: rgba(255, 255, 0, 0.6);
}

h3 {
    color: rgba(0, 128, 0, 0.6);
}

h4 {
    color: rgba(0, 0, 255, 0.6);
}

h5 {
    color: rgba(75, 0, 130, 0.6);
}

p {
    color: #0000ff;
}